body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    text-align: center;
}

h1 {
    color: #333;
}

.form-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

#profile-preview {
    max-width: 100px;
    margin-top: 10px;
}
.column {
    display: inline-block;
    width: 45%;
    /* Adjust the width as needed */
    vertical-align: top;
    /* Align columns to the top */
}
button[type="button"],
button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
